.container__help {
  margin-top: 3em;
}

.title__help {
  color: var(--color-title);
  text-align: center;
  margin-top: 0.6em;
  font-size: 1.25em;
  font-weight: bold;
}

.content__paragraph {
  color: var(--color-text);
  margin: 15px;
  text-align: justify;
  font-size: 1.2rem;
}

.image__help {
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

ul > li {
  list-style: disc;
}
